@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
* {
  font-family: 'Poppins';
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #655ae3;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(194, 202, 31);
}

td {
  padding: 5px;
  border-radius: 4px;
}
