@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

/* START TEST CSS (plain css page) */

/* Variables */
:root {
  --text: #000000;
  --main: #6366f1;
}

/* reset and colored tags */

a {
  text-decoration: none;
}
a,
a:visited,
p,
h1,
h2,
h3,
span {
  color: var(--text);
}

/* fixed hight - navresponsive fixed on Phones-Tablets */
body {
  height: 100vh;
  background: rgb(162, 176, 194);
  background: linear-gradient(
    140deg,
    rgba(162, 176, 194, 1) 0%,
    rgba(58, 66, 75, 1) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

/* hide mobile navbar by default and show with Media Query */
body > div > div {
  display: none;
}

/* main content */
body > div {
  height: 62%;
  width: 64%;
  background: #fff;
  padding: 20px 25px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  filter: drop-shadow(25px 15px 2rem rgb(44, 43, 43));
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
}

nav > a {
  border: 4px solid transparent;
  font-weight: 600;
}

nav > a > i {
  color: var(--main);
  font-size: 1.1rem;
}

nav > a:hover {
  border-bottom: 4px solid var(--main);
}

nav > p {
  display: flex;
  gap: 2.5rem;
}

nav p a {
  border-bottom: 4px solid transparent;
  display: block;
}

nav p > a:nth-child(3) {
  border-bottom: 4px solid var(--main);
}

nav p a:hover {
  border-bottom: 4px solid var(--main);
}

main {
  width: 100%;
  height: 90%;
  display: flex;
}

section {
  width: 100%;
  display: flex;
  justify-content: start;
}

section > article {
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section > article p {
  filter: drop-shadow(10px 10px 30px black);
  padding: 0 3rem;
}

section > article img {
  width: 50%;
}

section > article > div {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

section > article > div > img:nth-child(2) {
  position: absolute;
  opacity: 0.9;
  width: 58%;
}

section > div {
  width: 80%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

section div article {
  background: #1e1e1e;
  border-radius: 10px;
  width: 49%;
  height: 47%;
  overflow: auto;
  box-shadow: 10px 10px 20px rgb(120, 120, 120);
  transition: all 0.4s ease-out;
}

section div article:hover {
  transform: scale(1.6);
}

section div article img {
  background: green;
  width: 100%;
  border-radius: 5px;
}

/* First Brother */
section article span p:nth-child(1) {
  color: white;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 500;
  margin: 7px 0;
}

/* Second Brother */
section div article span p:nth-child(2) {
  color: white;
  padding: 2px 10px;
  margin-bottom: 2rem;
}

section article span p:nth-child(3),
p:nth-child(5) {
  color: rgb(224, 179, 16);
}

section article span p:nth-child(4) {
  padding-left: 30px;
}

section article span p span:first-child {
  color: rgb(35, 145, 209);
}

section article span p span:last-child {
  color: rgb(38, 165, 29);
}

/* RESPONSIVENESS - Phones and Tablets */
@media screen and (max-width: 850px) {
  nav {
    display: none;
  }

  body > div > div {
    display: block;
    font-size: 2rem;
    position: absolute;
    right: 20px;
    top: 10px;
  }

  body div:nth-child(1) {
    border-radius: 0;
    height: 100%;
    width: 100%;
    padding: 0;
    overflow: auto;
  }

  section {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  section > article {
    display: none;
  }

  section > div {
    gap: 30px;
    margin-top: 4rem;
  }

  section > div > article {
    width: 100%;
    overflow: auto;
  }
}
